<img class='flag' src='{{flag}}' alt='flag' width='60' />
<span class='country-name'>{{name}}</span>
<p>Capital: <span>{{capital}}</span></p>
<p>Population: <span>{{population}}</span></p>
<p>Languages: <span>{{languagesNames}} </span></p>